body {
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
}

.category-container {
    margin-top: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.category-button {
    width: 300px;
    height: 120px;
    background-color: #1c1c1c;
    border-radius: 20px;
    transition: transform 100ms ease;
    color: #aeaeae;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

.category-button:hover {
    transform: scale(1.05);
}

.duell-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.duell-profile {
    width: 400px;
    height: 800px;
    border-style: solid;
    border-color: #2c2c2c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.duell-profile-pic {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #505050;
    flex-shrink: 0;
}

.duell-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.duell-profile-name {
    margin-top: 10px;
    color: #aeaeae;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.duell-profile-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    margin-top: 35px;
}

.title {
    font-size: 17px;
    color: #aeaeae;
}

.value {
    margin-top: 5px;
    font-size: 15px;
    color: #aeaeae;
}
